
  <div class="menu container">
    <ul id="navigation" class="nav flex-column flex-sm-row menu-list btn btn-secondary">
      <li class="nav-item flex-sm-fill text-sm-center">
        <a class="nav-link menu-items flex-sm-fill text-sm-center btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/homepage.php">Hobby</a>
      </li>
      <li class="nav-item dropdown flex-sm-fill text-sm-center">
        <a class="nav-link menu-items flex-sm-fill text-sm-center dropdown-toggle btn btn-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teach Assignments</a>
        <div class="dropdown-menu">
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/assignments.php">Assignments Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/week02/teach02.php">Teach 02 - Web Refresher</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/week03/teach03.php">Teach 03 - PHP Forms</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/week05/teach05.php">Teach 05 - PHP Database Access</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/week06/teach06.php">Teach 06 - PHP Database Update</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/week07/signin.php">Teach 07 - PHP Database Login Validation</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="/mathForm">Teach 09 - Node Math Calculations</a>
        </div>
      </li>
      <li class="nav-item dropdown flex-sm-fill text-sm-center">
        <a class="nav-link menu-items flex-sm-fill text-sm-center dropdown-toggle btn btn-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ponder Assignments</a>
        <div class="dropdown-menu">
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/assignments.php">Assignments Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/homepage.php">Ponder 02 - King's Initiative Blog</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/week03/browse.php">Ponder 03 - Shopping Cart</a>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="/rateCalc">Ponder 09 - Node Postal Rate Calculator</a>

        </div>
      </li>
      <li class="nav-item dropdown flex-sm-fill text-sm-center">
        <a class="nav-link menu-items flex-sm-fill text-sm-center dropdown-toggle btn btn-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu">
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/assignments.php">Assignments Home</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu btn btn-secondary" role="button" href="https://mighty-woodland-13602.herokuapp.com/assignments/project1/rdilogin.php">Project 1 - Red Dragon Inn Tracker</a>
        </div>
      </li>
    </ul>
  </div>