<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <% include ../partials/header %>
    <title>Tracker for the Game Pandemic</title>
</head>
<body>
    <h1 class="pagetitle container">Tracker for the Game Pandemic</h1>
    <% include ../partials/nav %>
    <div class="container">
		<p>
			This is the start of Project 02.
		</p>
	</div>
</body>
</html>